<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/iron-dropdown/iron-dropdown.html">

<dom-module id="person-actions">
  <style is="custom-style">
    :host {
      display: block;
    }
    .dropdown-content {
      background-color: white;
      line-height: 20px;
      box-shadow: 0px 0px 6px #ccc;
      width: 270px;
      padding: 10px;
    }
    .warning {
      background: var(--warning-color);
      color: var(--primary-text-color);
      padding: 10px;
      font-size: 0.9em;
    }
    .warning iron-icon {
      float: left;
      width: 35px;
      height: 30px;
      margin: 5px 0;
    }
    #contact {
      padding: 10px 0 0;
    }
    #contact span {
      white-space: nowrap;
      font-size: 0.8em;
      color: var(--secondary-text-color);
    }
  </style>

  <template>
    <div >
      <paper-button on-tap="open">
        <span>contato</span>
      </paper-button>
    </div>
    <iron-dropdown id="dropdown"
      vertical-align="top"
      horizontal-align="left">
      <div class="dropdown-content">
        <div class="warning">
          <iron-icon icon="report"></iron-icon>
          <span>visível apenas para pessoas conectadas a você.</span>
        </div>
        <div id="contact">
          <template is="dom-if" if="{{person.contact_phone}}">
            <span>telefone: {{person.contact_phone}}</span>
          </template>
          <template is="dom-if" if="{{person.email}}">
            <span>email: {{person.email}}</span>
          </template>
        </div>
      </div>
    </iron-dropdown>
  </template>
  <script>
    Polymer({
      is: 'person-actions',
      properties: {
        person: {
          type: Object
        }
      },

      open: function() {
        this.$.dropdown.open();
      }
    });
  </script>
</dom-module>
