<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../noosfero-ajax/noosfero-ajax.html">


<dom-module id="person-info">
  <style is="custom-style">
    :host {
      --content-margin: 35px;
    }
    .flex {
      display: flex;
    }
    .fill {
      flex: 1;
      margin-left: var(--content-margin);
    }
    .fill.right {
      flex: .5;
    }
    .inner .fill {
      margin: 0;
    }
    .name {
      font-size: 1.5em;
      font-weight: bold;
    }
    .region {
      font-size: .9em;
      line-height: 1.8em;
    }
    paper-material {
      border-radius: 2px;
      height: 100%;
      margin: 2px 2px 32px 2px;
      padding: var(--content-margin);
      background: var(--primary-background-color);
    }
    .left-content {
      width: 210px;
      height: auto;
    }
    .profile-actions paper-button {
      font-size: .9em;
      text-transform: none;
      color: var(--text-primary-color);
      background: var(--dark-primary-color);
      margin-left: 0;
    }
    .profile-actions iron-icon {
      width: 17px;
      height: 17px;
      vertical-align: -3px;
    }
    /*medium component size*/
    .medium .flex.inner {
      display: block;
    }
    .medium .fill.right {
      margin-top: 10px;
    }

    /*small component size*/
    .small .flex {
      display: block;
    }
    .small .left-content {
      width: 100%;
    }
    .small .fill {
      margin: 0;
    }
    .small .fill.right {
      margin-top: 10px;
    }
    iron-image {
      width: 100%;
      height: 300px;
    }
    ul {
      list-style: none;
      text-align: center;
      padding: 0;
      width: 100%;
    }

    /* Tablet+ */
    @media (min-width: 601px) {
      iron-pages {
        padding: 0 40px;
      }
    }
  </style>

  <template>
    <div id="wrapper">
      <paper-material elevation="1" class="flex">
        <div class="left-content">
          <iron-image id="profileImage"
            preload fade src="{{person.image}}"
            placeholder="images/person/placeholder.png"
            sizing="cover">
          </iron-image>
          <div class="social">
            <ul>
              <li>
                <a href="{{person.facebook}}">facebook</a>
              </li>
              <li>
                <a href="{{person.linkedin}}">linkedin</a>
              </li>
              <li>
                <a href="{{person.twitter}}">twitter</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fill">
          <div class="flex inner">
            <div class="fill">
              <span class="name">{{person.name}}</span>
              <div class="region">
                <span>{{person.region.name}}</span>
              </div>
              <div class="resume">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                </p>
              </div>
              <div class="profile-actions">
                <paper-button>
                  <iron-icon icon="add"></iron-icon>
                  <span>Adicionar pessoa</span>
                </paper-button>
              </div>
            </div>
            <div class="fill right">
              <content select=".more-actions"></content>
            </div>
          </div>
        </div>
      </paper-material>
    </div>
  </template>

  <script>
    Polymer({
      is: 'person-info',
      properties: {
        person: {
          type: Object
        },
        resizable: {
          type: Boolean,
          notify: true
        },
        media: {
          value: {
            small: 520,
            medium: 800
          }
        },
        size: String
      },
      resize: function() {
        if (this.resizable) {
          this._componentSize();
          this._fitProfileImage();
        }
      },
      _fitProfileImage: function() {
        var image = this.$.profileImage;
        Polymer.dom.flush();
        var imgWidth = image.scrollWidth;
        image.style.height = imgWidth + 'px';
      },
      _componentSize: function() {
        var wrapper = this.$.wrapper;
        Polymer.dom.flush();
        var width = wrapper.scrollWidth;
        if (width <= this.media.small) {
          wrapper.classList.remove('medium');
          wrapper.classList.add('small');
        }
        else if (width <= this.media.medium) {
          wrapper.classList.remove('small');
          wrapper.classList.add('medium');
        }
        else {
          wrapper.classList.remove('medium');
          wrapper.classList.remove('small');
        }
      }
    });
  </script>
</dom-module>
