<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../toolbar-items/toolbar-items.html">
<dom-module id="header-toolbar">
  <style is="custom-style">
    :host {
      position: relative;
      display: block;
      height: calc(64px * 3);
    }
    .space {
      @apply(--layout-flex);
    }

    #mainToolbar > ::content paper-icon-button {
      margin-top: 9px;
    }
    #mainToolbar {
      background: transparent;
    }
    #mainToolbar.tall .app-name {
      font-size: 40px;
      font-weight: 300;
      /* Required for main area's paper-scroll-header-panel custom condensing transformation */
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
    #mainToolbar.tall .app-name a {
      color: var(--text-primary-color);
      text-decoration: none;
    }
    #mainToolbar .middle-container,
    #mainToolbar .bottom-container {
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }

    #mainToolbar .middle-container  {
      height: 100%;
      margin-left: 48px;
    }

    #mainToolbar:not(.tall) .middle-container {
      font-size: 18px;
      padding-bottom: 0;
    }

    #mainToolbar .bottom-container {
      @apply(--paper-font-subhead);

      margin-left: 48px;
      /* Required for main area's paper-scroll-header-panel custom condensing transformation */
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
    .top.top-container {
      position: absolute;
      padding: 0 16px;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
    }
    /* Small */
    @media (max-width: 600px) {

      #mainToolbar.tall .app-name {
        font-size: 24px;
        font-weight: 400;
      }

      :host {
        height: calc(56px * 3);
      }
    }
  </style>
  <template>
    <paper-toolbar id="mainToolbar" class="tall">
      <div class="top top-container">
        <content select=".left"></content>
        <span class="space"></span>
        <content select=".right"></content>
      </div>
      <!-- Application name -->
      <div class="middle middle-container">
        <div class="app-name">
          <a data-route="home" href="{{baseUrl}}/#/">
            <span>Polymer Theme</span>
          </a>
        </div>
      </div>

      <!-- Application sub title -->
      <div class="bottom bottom-container">
        <div class="bottom-title">Noosfero Polymer theme</div>
      </div>
    </paper-toolbar>
  </template>
  <script>
    Polymer({
      is: 'header-toolbar',
      attached: function() {
        this.transformTitle();
      },
      // Main area's paper-scroll-header-panel custom condensing transformation of
      // the appName in the middle-container and the bottom title in the bottom-container.
      // The appName is moved to top and shrunk on condensing. The bottom sub title
      // is shrunk to nothing on condensing.
      transformTitle: function() {
        var self = this;
        // TODO: handle event from component not on `window`
        window.addEventListener('paper-header-transform', function(e) {
          var appName = self.querySelector('.app-name');
          var topContainer = self.querySelector('.top-container');
          var middleContainer = self.querySelector('.middle-container');
          var bottomContainer = self.querySelector('.bottom-container');
          var detail = e.detail;
          var heightDiff = detail.height - detail.condensedHeight;
          var yRatio = Math.min(1, detail.y / heightDiff);
          // appName max size when condensed. The smaller the number the smaller the condensed size.
          var maxMiddleScale = 0.50;
          var auxHeight = heightDiff - detail.y;
          var auxScale = heightDiff / (1 - maxMiddleScale);
          var scaleMiddle = Math.max(maxMiddleScale, auxHeight / auxScale + maxMiddleScale);
          var scaleBottom = 1 - yRatio;

          // Move/translate middleContainer
          self.transform('translate3d(0,' + yRatio * 100 + '%,0)', middleContainer);
          // Keep topContainer fixed
          self.transform('translateY(' + detail.y + 'px )', topContainer);
          // Scale bottomContainer and bottom sub title to nothing and back
          self.transform('scale(' + scaleBottom + ') translateZ(0)', bottomContainer);

          // Scale middleContainer appName
          self.transform('scale(' + scaleMiddle + ') translateZ(0)', appName);
        });
      }
    });
  </script>
</dom-module>
