<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../toolbar-items/toolbar-items.html">


<dom-module id="box-areas">
  <style is="custom-style">
    .boxes {
      position: relative;
    }
    .box {
      float: left;
      overflow-x: hidden;
    }
    .box1 {
      width: 66.66666%;
    }
    .box2 {
      width: 33.33333%;
    }
    .box4 {
      width: 100%;
    }
    .clear {
      clear: both;
    }

    @media (max-width: 800px) {
      .box1 {
        width: 60%;
      }
      .box2 {
        width: 40%;
      }
    }
    @media (max-width: 520px) {
      .box1, .box2, .box4 {
        width: 100%;
      }
    }
  </style>
  <template>
    <div class="boxes">

      <!-- Noosfero area 4:
        main area of page -->
      <div class="box box4">
        <content select=".area4"></content>
      </div>

      <!-- Noosfero area 1:
        page's dinamic content area like
        activities' feed or news blog -->
      <div class="box box1">
        <content select=".area1"></content>
      </div>

      <!-- Noosfero area 2:
        to right of area 1, more blocks -->
      <div class=" box box2">
        <content select=".area2"></content>
      </div>
      <div class="clear"></div>
    </div>

  </template>
  <script>
    Polymer({
      is: 'box-areas',
      properties: {
        resizableBlocks: {
          type: Array,
          value: function() {
            return [];
          }
        }
      },
      behaviors: [
        Polymer.IronResizableBehavior
      ],
      listeners: {
        'iron-resize': '_onIronResize'
      },
      attached: function() {
        this._registerResizableBlocks();
      },
      _onIronResize: function(e) {
        var blocks = this.resizableBlocks;
        for (var i in blocks) {
          if (blocks.hasOwnProperty(i)
          && blocks[i].resize) {
            blocks[i].resize();
          }
        }
      },
      _registerResizableBlocks: function() {
        this.resizableBlocks = this.querySelectorAll('[resizable]');
      }
    });
  </script>
</dom-module>
