<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Polymer Theme</title>

  <!-- Chrome for Android theme color -->
  <!-- <meta name="theme-color" content="#2E3AA1"> -->

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <!-- <link rel="stylesheet" href="styles/main.css"> -->
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- This should be your only html import in this file.
  All other imports should go in elements.html -->
  <link rel="import" href="elements/elements.html">

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>
</head>

<body unresolved>
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">
    <noosfero-router data="{{data}}" subdata="{{subdata}}"></noosfero-router>

    <paper-drawer-panel  force-narrow>
      <paper-header-panel drawer id="headerPanelDrawer">

      </paper-header-panel>

      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
        <!-- Main Toolbar -->
        <header-toolbar class="paper-header">
          <div class="left">
            <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          </div>
          <div class="right">
            <toolbar-items user="{{user}}"></toolbar-items>
          </div>
        </header-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{data.page}}">

            <!-- homepage component -->
            <section data-route="">
              <paper-material elevation="1">
                Home
              </paper-material>
            </section>

            <!-- signup component -->
            <section data-route="signup">
              <paper-material elevation="1">
                Signup
              </paper-material>
            </section>

            <!-- profile component -->
            <section data-route="profile">
              <profile-page profile={{subdata.id}}></profile-page>
            </section>
          </iron-pages>
        </div>

        <login-dialog id="login"></login-dialog>

        <!-- toast notifications to user:
          - success
          - warning
          - errors
        -->
        <paper-toast id="toast"></paper-toast>
      </paper-scroll-header-panel>

    </paper-drawer-panel>

    <!-- Ajax service to be used to fetch remote data -->
    <noosfero-ajax id="ajax"
      base-url="http://localhost:3000" method="{{method}}"
      service="users"
      body="{{body}}"
      result="{{result}}"
      error="{{error}}">
    </noosfero-ajax>
  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>
</html>
