<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--
The `noosfero-ajax` element exposes web API services.

    <noosfero-ajax
      api="api/path"
      base-url="mydomainname.com"
      service="listservice"
      params='{"alt":"json", "q":"chrome"}'
      debounce-duration="300">
    </noosfero-ajax>

for `auto`, `params`, and `debounce-duration` see `iron-ajax` component.
The `base-url` specifies the domain name to fetch from , the `api`
specifies the path to the web api consumed and the `service`
defines the final path form the request to be fetched from api.

Note: If you do not specify a base url, the used one will be the current
base location url.

You can get the fetched  result as javascript object from attr
`result` that will update when a request has responded.

You can bind the `result` with one-way data binding:

  <noosfero-ajax result="{{result}}"
    auto
    api="/api/path"
    base-url="mydomainname.com"
    service="listservice">
  </noosfero-ajax>
  <my-fetched-result data="[[result]]">
  </my-fetched-result>

You can trigger a request explicitly by calling `generateRequest` on the
element.
-->

<dom-module id="noosfero-ajax">
  <style>
      :host {

      }
  </style>

  <template>
    <iron-ajax id="ajax"
     auto$="{{auto}}" url="{{url}}" handle-as="json"
     method="{{method}}"
     content-type="application/json"
     body="{{body}}"
     params="{{params}}" last-response="{{result}}"
     last-error="{{error}}"
     debounce-duration="{{debounceDuration}}"
     headers="{{headers}}"
     loading="{{loading}}">
   </iron-ajax>
  </template>

  <script>
      Polymer({
          is: "noosfero-ajax",
          properties: {

            // ajax response data
            result: {
              notify: true
            },

            // ajax response error data
            error: {
              notify: true
            },

            // base ajax domain name
            baseUrl: {
              type: String,
              value: 'http://localhost:3000',
              notify: true,
            },

            // url path for api
            api: {
              type: String,
              value: 'api/v1',
            },

            // api service to be consumed
            // every service modification, this component
            // will try to get the current user `private_token`
            // to fetch the data. If the user is not logged in,
            // then, no private token will be added to headers.
            service: {
              type: String,
              notify: true,
              observer: '_setHeaders'
            },

            // params passed to iron-ajax
            params: Object,

            debounceDuration: {
              type: Number,
              value: 0
            },

            auto: {
              type: Boolean,
              value: false
            },

            url: {
              computed: 'serviceUrl(baseUrl, api, service)'
            },

            body: {
              type: Object
            },

            headers: {
              type: Object,
              notify: true
            },

            loading: {
              type: Boolean,
              notify: true
            }
          },
          serviceUrl: function(baseUrl, api, service) {
            if (api) {
              return [baseUrl, api, service].join('/');
            }
            else {
              return [baseUrl, service].join('/');
            }
          },
          generateRequest: function() {
            this._setHeaders();
            this.$.ajax.generateRequest();
          },
          _setHeaders: function() {
            if (app && app.user) {
              this.headers = {'private_token': app.user.private_token};
            }
          }
      });
  </script>

</dom-module>
