<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>person-actions</title>

  <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="../../../bower_components/web-component-tester/browser.js"></script>

  <!-- Import the element to test -->
  <link rel="import" href="../../../elements/blocks/person-actions/person-actions.html">

</head>
<body>

  <test-fixture id="fixture-person-actions">
    <template>
      <person-actions person="{{person}}"></person-actions>
    </template>
  </test-fixture>

  <template is="dom-bind" id="app">
  </template>

  <script>
    suite('person-actions tests', function() {
      var personActions, app;

      setup(function() {
        var person_data = {
          contact_phone: '00 (00) 0000-0000',
          email: 'some@email.com'
        };

        personActions = fixture('fixture-person-actions');
        personActions.person = person_data;

        app = document.querySelector('#app');
      });

      test('should contact button display a message when clicked', function(done) {
        var dropdown = personActions.$.dropdown;
        assert.isFalse(dropdown.opened);
        personActions.open();
        assert.isTrue(dropdown.opened);
        done();
      });

      test('should display contact_phone and email if exists', function(done) {
        flush(function() {
          personActions.open();

          var contact = personActions.$.contact;
          var children = [].slice.call(contact.children);
          var spans = children.filter(element => element.tagName === 'SPAN');

          expect(spans.length).to.equal(2);
          done();
        });
      });

      test('should not display contact_phone and email if not exists', function(done) {
        personActions.person = undefined;
        flush(function() {
          personActions.open();

          var contact = personActions.$.contact;
          var children = [].slice.call(contact.children);
          var spans = children.filter(element => element.tagName === 'SPAN');

          expect(spans.length).to.equal(0);
          done();
        });
      });
    });
  </script>

</body>
</html>
