<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">

<link rel="import" href="../noosfero-ajax/noosfero-ajax.html">
<dom-module id="login-dialog">
  <style is="custom-style">
    :host {
      padding: 0 !important;
    }
    #dialog {
      min-width: 50%;
    }
    .request-psw {
      padding: 20px;
      text-align: center;
      font-size: .8rem;
    }
    #forgotPsw {
      height: 0;
    }
    #wrapper {
      height: 293px;
    }
    #wrapper, #forgotPsw {
      overflow: hidden;
      transition: all ease 0.35s;
    }
    h2 {
      padding: 24px 24px 0;
    }
    .content {
      padding: 20px 24px 24px;
    }
    .highlight {
      background-color: var(--accent-color);
      color: var(--text-primary-color);
    }
  </style>
  <template>
    <paper-dialog id="dialog" with-backdrop>
      <div id="wrapper">
        <h2>Login</h2>
        <div class="content">
          <paper-input id="login"
          label="login" value="{{login}}"></paper-input>
          <paper-input label="password" value="{{password}}" type="password"></paper-input>
          <paper-checkbox noink>mantenha-me conectado.</paper-checkbox>
          <noosfero-ajax id="ajax"
          method="POST"
          service="login"
          body="{{credencials}}"
          result="{{result}}"
          error="{{error}}"
          loading="{{loading}}"></noosfero-ajax>
        </div>
        <div class="buttons">
          <template is="dom-if" if="{{!loading}}">
            <paper-button on-tap="requestPassword" elevation="0">Recuperar Senha</paper-button>
          </template>
          <template is="dom-if" if="{{loading}}">
            <paper-spinner active></paper-spinner>
          </template>
          <paper-button class="highlight" on-tap="submitForm" elevation="0">Entrar</paper-button>
        </div>
      </div>

      <div id="forgotPsw">
        <h2>Esqueceu sua senha?</h2>
        <div class="content">
          <gold-email-input id="email"
            label="email" value="{{email}}"
            auto-validate
            error-message="email inválido">
          </gold-email-input>
        </div>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'login-dialog',
      properties: {
        result: {
          notify: true,
          observer: 'handleResult'
        },
        error: {
          notify: true,
          observer: 'handleError'
        },
        login: {
          type: String
        },
        password: {
          type: String
        },
        email: {
          type: String
        },
        credencials: {
          computed: 'buildCredentials(login, password)'
        },
        user: {
          type: Object
        },
        loading: {
          type: Boolean,
          value: false
        }
      },
      attached: function() {
        this.app = document.querySelector('#app');
      },
      requestPassword: function() {
        //TODO: send mail to user
        this.close();
      },
      submitForm: function() {
        if (this.login && this.password) {
          this.$.ajax.generateRequest();
        }
      },
      handleResult: function(result) {
        if (result && result.user) {
          this.app.storage(result.user);
          this.close();
        }
      },
      handleError: function(error) {
        if (error && error.error) {
          this.app.notify('info',error.error);
        }
      },
      buildCredentials: function(login, password) {
        return {"login": login, "password": password};
      },
      open: function() {
        this.$.dialog.open();
      },
      close: function() {
        this.$.dialog.close();
      }
    });
  </script>
</dom-module>
