<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../box-areas/box-areas.html">
<link rel="import" href="../noosfero-ajax/noosfero-ajax.html">
<link rel="import" href="../blocks/person-actions/person-actions.html">

<dom-module id="profile-page">
  <style is="custom-style">
    :host {

    }
  </style>
  <template>
    <noosfero-ajax
      auto
      method='GET'
      service='{{service}}'
      result='{{result}}'
      error='handleError'>
    </noosfero-ajax>

    <box-areas>
      <div class="area4">
        <person-info person="{{person}}" resizable>
          <div class="more-actions">
            <person-actions person="{{person}}"></person-actions>
          </div>
        </person-info>
      </div>
      <div class="area1">
        <person-info person="{{person}}" resizable>
          <div class="more-actions">
            <person-actions person="{{person}}"></person-actions>
          </div>
        </person-info>
      </div>
      <div class="area2">
        <person-info person="{{person}}" resizable>
          <div class="more-actions">
            <person-actions person="{{person}}"></person-actions>
          </div>
        </person-info>
      </div>
    </box-areas>
  </template>
  <script>
    Polymer({
      is: 'profile-page',
      properties: {
        profile: String,
        service: {
          computed: 'profileService(profile)'
        },
        result: {
          observer: 'handlePerson'
        },
        person: Object
      },

      profileService: function(profile) {
        return "people?identifier=" + profile;
      },

      handlePerson: function(result) {
        if (result && result.people
          && result.people.length > 0) {
          var person = result.people[0];

          this.person = person;
        }
      },
      handleError: function(error) {
        console.error(error);
      },
    });
  </script>
</dom-module>
