<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/carbon-route/carbon-location.html">
<link rel="import" href="../../bower_components/carbon-route/carbon-route.html">

<dom-module id="noosfero-router">
  <template>
    <carbon-location use-hash-as-path route="{{route}}"></carbon-location>

    <carbon-route route="{{route}}" pattern="/:page" data="{{data}}" tail="{{subroute}}"></carbon-route>
    <carbon-route route="{{subroute}}" pattern="/:id" data="{{subdata}}"></carbon-route>
  </template>

  <script>
    Polymer({
      is: 'noosfero-router',
      properties: {
        data: {
          type: Object,
          notify: true,
          observer: 'routesChanged'
        },

        subdata: {
          type: Object,
          notify: true
        }
      },

      routesChanged: function() {
        this.fire('routes-changed');
      }
    });
  </script>
</dom-module>
