<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>person-info</title>

  <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <script src="../../../bower_components/web-component-tester/browser.js"></script>

  <!-- Import the element to test -->
  <link rel="import" href="../../../elements/blocks/person-info/person-info.html">

</head>
<body>
  <test-fixture id="person-info">
    <template>
      <person-info person="{{person}}"></person-info>
    </template>
  </test-fixture>

  <div style="width: 900px">
    <test-fixture id="person-info-resizable">
      <template>
        <person-info person="{{person}}" resizable></person-info>
      </template>
    </test-fixture>
  </div>

  <div style="width: 700px">
    <test-fixture id="medium-person-info-resizable">
      <template>
        <person-info person="{{person}}" resizable></person-info>
      </template>
    </test-fixture>
  </div>

  <div style="width: 500px">
    <test-fixture id="small-person-info-resizable">
      <template>
        <person-info person="{{person}}" resizable></person-info>
      </template>
    </test-fixture>
  </div>
  <script>
    suite('person-info tests', function() {
      var personInfo, personInfoResizable,
      smallPersonInfo, mediumPersonInfo;

      setup(function() {
        personInfo = fixture('person-info');
        personInfoResizable = fixture('person-info-resizable');
        smallPersonInfo = fixture('small-person-info-resizable');
        mediumPersonInfo = fixture('medium-person-info-resizable');

        var person = {
          name: 'test person',
          region: {
            name: 'region'
          }
        };

        personInfo.person = person;
        personInfoResizable.person = person;

      });
      test('should not resize `person-info` that is not resizable', function() {
        personInfo.resize();
        var image = personInfo.$.profileImage;
        var imgWidth = image.scrollWidth;
        assert.notEqual(image.style.height, imgWidth + 'px');
      });

      test('should resize `person-info` that is resizable', function() {
        personInfoResizable.resize();
        var image = personInfoResizable.$.profileImage;
        var imgWidth = image.scrollWidth;
        var wrapper = personInfoResizable.$.wrapper;

        assert.equal(image.style.height, imgWidth + 'px');
        assert.isFalse(wrapper.classList.contains('medium'));
        assert.isFalse(wrapper.classList.contains('small'));
      });

      test('should contains class `small` after resize', function() {
        smallPersonInfo.resize();
        var wrapper = smallPersonInfo.$.wrapper;
        assert.isTrue(wrapper.classList.contains('small'));
      });

      test('should contains class `medium` after resize', function() {
        mediumPersonInfo.resize();
        var wrapper = mediumPersonInfo.$.wrapper;
        assert.isTrue(wrapper.classList.contains('medium'));
      });

    });
  </script>

</body>
</html>
