<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="logged-in-items">
  <style>
    #wideActions {
      display: inline-flex;
    }
    #wideActions paper-item {
       color: var(--text-primary-color);
       text-decoration: none;
       margin: 8px 0;
       font-weight: 100;
       cursor: pointer;
     }
     a {
       color: var(--primary-text-color);
       text-decoration: none;
     }
    paper-icon-button.dropdown-trigger {
      margin: 0 0 0 40px !important;
    }
  </style>
  <template>
    <template is="dom-if" if="{{wide}}">
      <div id="wideActions">
        <!-- duplicate content for wide layout -->
        <a href="/#/profile/{{profile}}">
          <paper-item>{{profile}}</paper-item>
        </a>
        <paper-item on-tap="logout">
          Logout
        </paper-item>
      </div>
    </template>

    <template is="dom-if" if="{{!wide}}">
      <paper-menu-button>
        <paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
        <paper-menu id="menuActions" class="dropdown-content">
          <!-- duplicate content for responsive -->
          <a href="/#/profile/{{profile}}">
            <paper-item>{{profile}}</paper-item>
          </a>
          <paper-item on-tap="logout">
            Logout
          </paper-item>
        </paper-menu>
      </paper-menu-button>
    </template>
  </template>
  <script>
    Polymer({
      is: 'logged-in-items',
      properties: {
        profile: String
      },
      attached: function() {
        this.profile = app.user.login;
      },
      logout: function() {
        app.storage();
      }
    });
  </script>
</dom-module>
