<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="./logged-out-items.html">
<link rel="import" href="./logged-in-items.html">

<!--
  this is a responsive component used
  to wrap toolbar items elements. Usage:

  <toolbar-items user="{{user}}" wide="{{wide}}">
    <div class="logged">
      <my-logged-in-items wide="{{wide}}">
      </my-logged-in-items>
    </div>
  </toolbar-items>

  if `user` is defined, logged in items are shown
  if not, login options are presented.
-->

<dom-module id="toolbar-items">
  <style is="custom-style">

  </style>
  <template>
    <iron-media-query query="(min-width: 600px)" query-matches="{{wide}}"></iron-media-query>
    <template is="dom-if" if="{{user}}">
      <logged-in-items wide="{{wide}}"></logged-in-items>
    </template>
    <template is="dom-if" if="{{!user}}">
      <logged-out-items wide="{{wide}}"></logged-out-items>
    </template>
  </template>
  <script>
    Polymer({
      is: 'toolbar-items',
      properties: {
        user: {
          type: Object,
        },
      }
    });
  </script>
</dom-module>
